<html data-theme="valentine">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover"/>
    <link href="https://cdn.bootcdn.net/ajax/libs/daisyui/3.5.1/full.min.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      [v-cloak] {
        display: none;
      }
      .canvas-btn {
        box-shadow: 0 2px 3px 0 rgba(60,64,67,.3), 0 6px 10px 4px rgba(60,64,67,.15);
      }
    </style>
</head>
<body>

<div id="app" class="bg-base-100">
    <canvas id="my-canvas" class="fixed top-0 left-0 z-[1000] pointer-events-none"></canvas>
    <!--<div-->
    <!--    class="canvas-btn fixed right-5 bottom-10 z- flex justify-center items-center w-16 h-16 rounded-full"-->
    <!--    @click="onClickCanvasBtn"-->
    <!--&gt;-->
    <!--    <img class="w-8 h-8" src="https://www.gstatic.com/delight/animation-engine/halloween/ghost_button.png" alt="">-->
    <!--</div>-->


    <div v-if="isLove && visible" v-cloak>
        <div class="flex flex-col items-center py-4">
            <span class="pr-4 font-mono text-4xl">相识</span>
            <div class="grid grid-flow-col gap-5 text-center auto-cols-max pt-2">
                <div class="flex flex-col p-2 bg-neutral rounded-box text-neutral-content">
                    <span class="font-mono text-3xl">{{ passedKnowTimeData.days }}</span>
                    <span>days</span>
                </div>
                <div class="flex flex-col p-2 bg-neutral rounded-box text-neutral-content">
                    <span class="font-mono text-3xl">{{ passedKnowTimeData.hours }}</span>
                    <span>hours</span>
                </div>
                <div class="flex flex-col p-2 bg-neutral rounded-box text-neutral-content">
                    <span class="font-mono text-3xl">{{ passedKnowTimeData.minutes }}</span>
                    <span>min</span>
                </div>
                <div class="flex flex-col p-2 bg-neutral rounded-box text-neutral-content">
                    <span class="font-mono text-3xl">{{ passedKnowTimeData.seconds }}</span>
                    <span>sec</span>
                </div>
            </div>
        </div>
        <div class="flex flex-col items-center py-4">
            <span class="pr-4 font-mono text-4xl">相见</span>
            <div class="grid grid-flow-col gap-5 text-center auto-cols-max pt-2">
                <div class="flex flex-col p-2 bg-neutral rounded-box text-neutral-content">
                    <span class="font-mono text-3xl">{{ passedMeetTimeData.days }}</span>
                    <span>days</span>
                </div>
                <div class="flex flex-col p-2 bg-neutral rounded-box text-neutral-content">
                    <span class="font-mono text-3xl">{{ passedMeetTimeData.hours }}</span>
                    <span>hours</span>
                </div>
                <div class="flex flex-col p-2 bg-neutral rounded-box text-neutral-content">
                    <span class="font-mono text-3xl">{{ passedMeetTimeData.minutes }}</span>
                    <span>min</span>
                </div>
                <div class="flex flex-col p-2 bg-neutral rounded-box text-neutral-content">
                    <span class="font-mono text-3xl">{{ passedMeetTimeData.seconds }}</span>
                    <span>sec</span>
                </div>
            </div>
        </div>
        <div v-if="isLove" class="flex flex-col items-center py-4">
            <span class="pr-4 font-mono text-4xl" @click="visible = false">相恋</span>
            <div class="grid grid-flow-col gap-5 text-center auto-cols-max pt-2">
                <div class="flex flex-col p-2 bg-neutral rounded-box text-neutral-content">
                    <span class="font-mono text-3xl">{{ passedLoveTimeData.days }}</span>
                    <span>days</span>
                </div>
                <div class="flex flex-col p-2 bg-neutral rounded-box text-neutral-content">
                    <span class="font-mono text-3xl">{{ passedLoveTimeData.hours }}</span>
                    <span>hours</span>
                </div>
                <div class="flex flex-col p-2 bg-neutral rounded-box text-neutral-content">
                    <span class="font-mono text-3xl">{{ passedLoveTimeData.minutes }}</span>
                    <span>min</span>
                </div>
                <div class="flex flex-col p-2 bg-neutral rounded-box text-neutral-content">
                    <span class="font-mono text-3xl">{{ passedLoveTimeData.seconds }}</span>
                    <span>sec</span>
                </div>
            </div>
        </div>
        <div class="flex flex-col items-center py-4">
            <span class="pr-4 font-mono text-4xl">下次相见</span>
            <div class="grid grid-flow-col gap-5 text-center auto-cols-max pt-2">
                <div class="flex flex-col p-2 bg-neutral rounded-box text-neutral-content">
                    <span class="font-mono text-3xl">{{ nextMeetTimeData.days }}</span>
                    <span>days</span>
                </div>
                <div class="flex flex-col p-2 bg-neutral rounded-box text-neutral-content">
                    <span class="font-mono text-3xl">{{ nextMeetTimeData.hours }}</span>
                    <span>hours</span>
                </div>
                <div class="flex flex-col p-2 bg-neutral rounded-box text-neutral-content">
                    <span class="font-mono text-3xl">{{ nextMeetTimeData.minutes }}</span>
                    <span>min</span>
                </div>
                <div class="flex flex-col p-2 bg-neutral rounded-box text-neutral-content">
                    <span class="font-mono text-3xl">{{ nextMeetTimeData.seconds }}</span>
                    <span>sec</span>
                </div>
            </div>
        </div>
        <div class="flex flex-col items-center py-4">
            <button class="btn" @click="jumpReport">点击查看专属年度报告</button>
        </div>
        <!-- Open the modal using ID.showModal() method -->
        <div v-if="showBtn" class="flex flex-col items-center py-4">
            <button class="btn" onclick="my_modal_1.showModal()">想对你说</button>
        </div>
        <dialog id="my_modal_1" class="modal">
            <form method="dialog" class="modal-box">
                <h3 class="font-bold text-lg">亲爱的媛宝</h3>
                <p class="py-4">我们在一起100天啦！👏</p>
                <p class="py-4">
                    你曾问我100天有什么纪念的<br>
                    在我看来100天<br>
                    意味着彼此更深的了解<br>
                    意味着互相的认可<br>
                    意味着感情的新阶段
                </p>
                <p class="py-4">
                    我们的100天<br>
                    与之前好像<br>
                    依然有说不完的话题<br>
                    依然没有错过彼此的每一个节日<br>
                    我依然是最幸运和幸福的人<br>
                    你依然是最可爱的、最美丽、最优秀的女生<br>
                    但又不一样<br>
                    有一起面对过从未遇到过的困难<br>
                    有令人难忘的四川之旅<br>
                    当然也有惹你不高兴<br>
                    有苦有甜、有开心有难过<br>
                    但我们一起诠释了什么是情比金坚❤️‍🔥
                </p>
                <p class="py-4">
                    希望我们<br>
                    能一直陪在彼此身边<br>
                    能成为彼此最爱的人<br>
                    走到最后👩‍❤️‍👨
                </p>
                <p class="py-4">下一个100天，我们来啦！</p>
                <div class="modal-action">
                    <button class="btn">爱你的湘子</button>
                </div>
                <!--<h3 class="font-bold text-lg">MY媛宝</h3>-->
                <!--<p class="py-4">七夕快乐，要永远开心哟！<br />无论发生什么事，我都在你身边！</p>-->
                <!--<div class="modal-action">-->
                <!--    <button class="btn">湘子</button>-->
                <!--</div>-->
                <!--<h3 class="font-bold text-lg">张老师</h3>-->
                <!--<p class="py-4">教师节快乐！愿你开心工作每一天！<br />PS: 我的媛宝辛苦啦！希望你能早点当上领导不再被欺负😁</p>-->
                <!--<div class="modal-action">-->
                <!--    <button class="btn">张同学</button>-->
                <!--</div>-->
            </form>
        </dialog>
    </div>
    <div v-else v-cloak class="letter p-2">
        <p class="pb-2">我们的故事从2023年6月4号开始</p>
        <p>你是那么的优雅</p>
        <p>第一次见面时的白色长裙让我印象深刻</p>
        <p>你是那么的温柔</p>
        <p>和你说话总是感到很舒服</p>
        <p>你是那么的乐观</p>
        <p>无论遇到什么事都是开心面对</p>
        <p>你是那么的自信</p>
        <p>与人交谈总是无话不说</p>
        <p>你是那么的上进</p>
        <p>从高中到大学到工作都是这样</p>
        <p>你是那么的独立</p>
        <p>在大学就做过那么多的兼职</p>
        <p>你是那么的执着</p>
        <p>为了解出八皇后游戏可以投入几个小时</p>
        <p>你是那么的优秀</p>
        <p>你是那么的可爱</p>
        <p>......</p>
        <p>和你相处的越久 我越觉得我遇到喜欢的人了</p>
        <p>我不太擅长表达 但就像我一直对你说的</p>
        <p>我会用真心用行动来证明我对你的喜欢</p>
        <p>我愿意</p>
        <p>陪你一起抓娃娃</p>
        <p>陪你完成66个心愿</p>
        <p>陪你去你想去的地方旅游</p>
        <p>陪你过你想过的所有节日</p>
        <p>陪你做一切你喜欢的事</p>
        <p class="pt-2">在我们相识的{{ passedKnowTimeData.days }}天 相见的{{ passedMeetTimeData.days }}天里</p>
        <p>我们已经从陌生人到熟人到普通朋友再到无话不谈的朋友</p>
        <p>此时此刻我想对你说</p>
        <div class="py-5 text-center">
            <button v-if="!isLove" class="btn" @click="onClick">
                做我女朋友吧
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" /></svg>
            </button>
            <button v-else class="btn" @click="visible = true">
                你还是我的女朋友
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" /></svg>
            </button>
        </div>
    </div>
</div>

<script src="https://cdn.bootcdn.net/ajax/libs/vue/3.2.47/vue.global.min.js"></script>
<script src="./canvas.js"></script>
<script>
  if (location.search.includes('debugger')) {
    localStorage.clear();
  }

  const { createApp, ref, computed, onMounted } = Vue

  //
  const knowTime = new Date('2023-06-04 12:45:21').getTime();
  const meetTime = new Date('2023-06-22 18:11:25').getTime();
  let loveTime = new Date('2023-08-13 23:53:46').getTime();
  const nextMeetTime = new Date('2024-01-28 14:00:00').getTime();

  const SECOND = 1000;
  const MINUTE = 60 * SECOND;
  const HOUR = 60 * MINUTE;
  const DAY = 24 * HOUR;

  function parseTimeData(time) {
    const days = Math.floor(time / DAY);
    const hours = Math.floor((time % DAY) / HOUR);
    const minutes = Math.floor((time % HOUR) / MINUTE);
    const seconds = Math.floor((time % MINUTE) / SECOND);
    const milliseconds = Math.floor(time % SECOND);

    return {
      days: padZero(days),
      hours: padZero(hours),
      minutes: padZero(minutes),
      seconds: padZero(seconds),
      milliseconds,
    };
  }

  function padZero(num, targetLength = 2) {
    let str = num + '';

    while (str.length < targetLength) {
      str = '0' + str;
    }

    return str;
  }

  createApp({
    setup() {
      const isLove = ref(!!loveTime)
      const visible = ref(true)
      const passedKnowTimeData = ref({
        days: 0,
        hours: 0,
        minutes: 0,
        seconds: 0,
      })
      const passedMeetTimeData = ref({
        days: 0,
        hours: 0,
        minutes: 0,
        seconds: 0,
      })
      const passedLoveTimeData = ref({
        days: 0,
        hours: 0,
        minutes: 0,
        seconds: 0,
      })
      const nextMeetTimeData = ref({
        days: 0,
        hours: 0,
        minutes: 0,
        seconds: 0,
      })
      onMounted(() => {
        count();
      })

      function count() {
        setTimeout(() => {
          passedKnowTimeData.value = parseTimeData(Date.now() - knowTime)
          passedMeetTimeData.value = parseTimeData(Date.now() - meetTime)
          if (loveTime) {
            passedLoveTimeData.value = parseTimeData(Date.now() - loveTime)
          }
          nextMeetTimeData.value = parseTimeData(nextMeetTime - Date.now())
          count();
        }, 1000)
      }

      function onClick() {
        loveTime = Date.now();
        isLove.value = true;
        localStorage.setItem('love-time', Date.now() + '');
      }

      // const showBtn = ref(new Date().setHours(0, 0, 0, 0) === new Date('2023/8/22').getTime())
      // const showBtn = ref(new Date().setHours(0, 0, 0, 0) === new Date('2023/9/10').getTime())
      const showBtn = computed(() => passedLoveTimeData.value.days == 100)

      const halloweenAnimation = ref()
      const counter = ref(0)
      const flag = ref(false)
      onMounted(async () => {
        halloweenAnimation.value = new HalloweenAnimation('#my-canvas')
        await halloweenAnimation.value.init()
        flag.value = true
      })
      function onClickCanvasBtn() {
        if (!flag.value) return

        const intervalID = setInterval(() => {
          if (counter.value > 16) {
            clearInterval(intervalID)
            counter.value = 0

            return
          }
          halloweenAnimation.value.start()
          counter.value++
        }, 500)
      }

      function jumpReport() {
        location.href = '/report.html'
      }

      return {
        visible,
        isLove,
        passedKnowTimeData,
        passedMeetTimeData,
        passedLoveTimeData,
        nextMeetTimeData,
        showBtn,
        onClick,
        onClickCanvasBtn,
        jumpReport
      }
    }
  }).mount('#app')
</script>
</body>
</html>
